<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Convert to Tit-Case</title>
</head>
<body>
    <div class="container">
        <h1>Convert to Title Case</h1>

        <form action="/view_title_case">
            <div class="form-group">
                <label for="phrase">Enter a Phrase:</label>
                <input id="phrase" class="form-control" type="text" name="phrase">
            </div>

            <button type="submit" class="btn btn-danger">Convert!</button>
        </form>
    </div>
</body>
</html>
